.color-picker {
    padding: 2%;
}

.bgc-heading {
    margin-bottom: 5%;
    color: black;
    text-shadow: 0 1px 1px white;
}

.dc-heading {
    margin-bottom: 5%;
    color: black;
    text-shadow: 0 1px 1px white;
}

